<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none" >
	<listeners>
		<listener class-name="utilities.TestListener" />
		<listener class-name="utilities.AnnotationTransformer" />
		<!-- <listener class-name="utilities.ExtentReporterNG" /> -->
	</listeners>
	<test name="T_TestSuite">
		<classes>
			<class name="vtigertests.testVtigerCompaingAssignment"/>
			<class name="vtigertests.testVtigerContactsAssignment" />
			<class name="vtigertests.testVtigerLeadsAssignment" />
			<class name="vtigertests.testVtigerOrganizationsAssignment" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
